/*Base*/
 *,*::before{
    box-sizing: border-box;
  }

  *,*::after{
    box-sizing: border-box;
  }

  html{
    scroll-behavior:smooth; /*allows the page to scroll smoothly between points*/
  }

/*General*/
  h1{
    font-size: 80px;
    font-family: Poiret One, Verdana; /*declares text format*/
    margin: 2%;
  }
  
  h2{
    font-family: Poiret One, Verdana;
    font-size: 30px; /*declares text format*/    
  }
  
  a{
    text-decoration: none; /*removes automatic underline from hyperlinks*/
  }
  
  p, ul, li, label{
    overflow: hidden;
    font-family: Verdana;
    font-size: 18px;
    line-height: 20px; /*declares text format*/
    margin: 0%;
  }
  
  input[type=text] {
    overflow: auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    border: none;
    font-family: Verdana;
    font-size: 18px;
    line-height: 20px; /*declares text format*/
  }

  input[type=text]:focus {
    background-color: transparent;
    border: none;
    outline: none;
  }

  input::placeholder{
    font-family:'Gaegu';
    color:#000000;
    opacity: 50%;
  }

/*Classes-general*/
  .navigationBar{
    background-color: #95f89c;
    text-align: center;
    margin: -8px; /*declares navigation bar style*/
  }
  
  .header{
    overflow: hidden;
    margin-left: 5%;
    margin-top: 2%;
    line-height: 20px;
  }

  .title-bar{
    margin-top: 0%;
    background-color: #95f89c;
    height: 5px;
    width: 95%;
    border-radius: 20px;
  }

  .separator-bar{
    margin-top: 0%;
    background-color: #b9cfbb;
    width: 2px;
    border-radius: 20px;
    z-index:9;
  }

  .mainBody{
    display: flex;
    overflow: auto;
    width: 90%;
    position: relative;
    top: 28%;
    left:5%; /*declares body position*/
    /* border-style: dashed;
    border-width:1px; */
    background-color: #FFFFFF;
    opacity: 1; /*declares body format*/
  }

  /*Classes-tasks*/
  .tasks-names {
    display: flex;
    width: 90%;
    position: relative;
    top: 20px;
    left: 5%; /*declares body position*/
    z-index: 90;
    /* border-style: dashed;
    border-width:1px; */
  }

  .tasks-names > h2{
    width:50%;
    text-align: center;
    font-family: Poiret One, Verdana;
    font-size: 45px;
    margin: 0%;
  }

  .tasks-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
    /* border-style: dashed;
    border-width: 1px; */
    margin: 2.5%;
    background-color: #FFFFFF;
    opacity: 1; /*declares body format*/
  }

  .tasks-container > div{
    width: 100%;
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
    border: 1px solid none;
    border-radius:20px;
    padding: 5%;
    margin-bottom: 20px;
  }

/*IDs*/
  /*#upcoming > div{
    background-color: #fcab75;
  }

  #important > div{
    background-color: #fc7575;
  }

  #starred > div{
    background-color: #fcf375;
  }*/

/*Other*/
  .copyrightTag{
    overflow: hidden;
    background-color:black;
    color: white;
    width:101.5%; /*declares copyright tag format*/
    padding-top:1.5%;
    padding-bottom:3%;
    margin:-1%;
    text-align:center;
    position: relative;
    top: 300px; /*declares copyright tag position*/
  }	

  .activePage{
    font-size: 18px;
    color:#000000;
    font-weight: 500 /*highlights current page*/
  }
  
  .notActivePage{
    color: #5a5a5a; /*leaves unactive page as standar colour*/
  }
  
  .notActivePage:hover {
    color: #000000; /*changes button colour when hovering over with mouse*/
  }
  
  .navigationBarButton {
    background-color: #95f89c;
    color: #000000;
    border: none; /*declares button style*/
    text-align: center;
    font-size: 16px;
    font-family: Verdana;
    font-weight: 400; /*declares text format*/
    padding: 3px;
    margin: 8px;
    margin-left:110px;
    margin-right:110px; /*positions button*/
    cursor: pointer; /*changes cursor icon when over button*/
    transition: all 0.4s;
    transition-timing-function: ease-in-out; /*declares transition style*/
  }
  
  .navigationBarButton span {
    cursor: pointer; /*changes cursor icon when over button*/
    display: inline-block;
    position: relative; /*declares button style*/
    transition: 0.4s;
    transition-timing-function: ease-in-out; /*declares transition style*/
  }
  
  .navigationBarButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0; /*declares button format*/
    top: 0;
    right: 0px; /*positions button*/
    transition: 0.4s;
    transition-timing-function: ease-in-out; /*declares transition style*/
  }
  
  .navigationBarButton:hover span {
    padding-right: 25px;
    font-size: 18px;
    color:#000000;
    font-weight: 500 /*changes button format when hovering*/
  }
  
  .navigationBarButton:hover span:after {
    opacity: 1;
    right: 0;
    color:#000000;
    font-size: 18px;
    font-weight: 500; /*changes button format when hovering*/
  }
  
  .centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto; /*declares image position*/
  }
  
  #frontPage{
    opacity: 1;
    animation-name: bodyText;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1; /*declares front page animation format*/
    
  }
  
  @keyframes bodyText {
    0%   { opacity: 0;}
    25%  { opacity: 0;}
    75%  { opacity: 0.75;}
    100% { opacity: 1;} /*declares transitional keyframes in animation*/
  }

/*Calendar*/

table{
  font-family: Poiret One, Verdana;
  margin-top:2.5%;
  margin-left:2.5%;
  margin-right:5%;
  border: none;
  width:90%;
  word-wrap:break-word;
  min-height:800px;
}

tr{
  border-top: 2px solid white;
  border-collapse: collapse;
}

.top{
  border:none;
  height:30px;
}

.top>th{
  background:#b1e6b9; 
}

#day-names{
  text-align: center;
  font-family: Poiret One, Verdana;
  font-size: 25px;
  margin-bottom: 15%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container>button{
  font-family: Poiret One, Verdana;
  font-size:25px;
  align-self:self-end;
}

#time{
  text-align:center;
  font-size: 0.65em;
  transform: translateX(10px) translateY(-16px);
  padding: 0 0.2em;
  background: #809182;
  border: 1px solid none;
  color:#FFFFFF;
  border-radius: 40px;
}


#day1, #day2, #day3, #day4, #day5, #day6, #day7{
  background:#E8F6EA;
  width:14%;
  height:20px;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: auto;
  /* border-style: dashed;
  border-width: 1px; */
  margin: 2.5%;
  background-color: #FFFFFF;
  opacity: 1; /*declares body format*/
}

.newEvent{
  color: #000000;
  opacity: 100%;
  text-align: center;
  margin: 8px;
  margin-left:8px;
  margin-right:8px; /*positions button*/
  background: #E8F6EA;
  border: none;
  border-radius: 20px;
  font-family: Verdana;/*declares text format*/
  cursor: pointer; /*changes cursor icon when over button*/
  padding: 10px;
  transition: all 0.4s;
  transition-timing-function: ease-in-out; /*declares transition style*/
}

.newEvent span {
  font-family:'Gaegu';
  cursor: pointer; /*changes cursor icon when over button*/
  display: inline-block;
  position: relative; /*declares button style*/
  transition: 0.4s;
  transition-timing-function: ease-in-out; /*declares transition style*/
}

.newEvent span:after {
  content: '\00bb';
  color:#000000;
  position: absolute;
  opacity: 0; /*declares button format*/
  top: 0;
  right: 0px; /*positions button*/
  transition: 0.4s;
  transition-timing-function: ease-in-out; /*declares transition style*/
}

.newEvent:hover span {
  padding-top:5px;
  padding-bottom:7px;
  padding-left:5px;
  padding-right: 15px;
  font-size: 18px;
  color:#000000;
  font-weight: 500 /*changes button format when hovering*/
}

.newEvent:hover span:after {
  opacity: 1;
  right: 0;
  color:#000000;
  font-size: 18px;
  font-weight: 500; /*changes button format when hovering*/
}

#date{
  font-size: 10px;
}

/*New Event/Calender stuff*/
.hourevents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: auto;
  /* border-style: dashed;
  border-width: 1px; */
  background:transparent;
  margin: 1.5%;
}

.eventInput{
  border-radius: 20px;
  border:2px solid #000000;
  background: #C4F2CB;
  padding: 2.5%;
  margin: 2.5%;

}

#newEventName{
  margin-top: 0%;
  background:#FFFFFF;
  border: none;
  border-radius: 20px;
}

#dateOfEvent{
  background:#FFFFFF;
  border: none;
  border-radius: 20px;
  margin-bottom: 2%;
}

#subject{
  background:#FFFFFF;
  border: none;
  border-radius: 20px;
  margin-bottom: 2%;
}

input[type="submit"] {
  margin-top:1%;
  border: 2px solid #494949;
  width: 100%;
  position: center;
  text-align: center;
  background: #ebac91;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #494949;
  border-radius: 20px;
  font-family: 'Gaegu';
  font-size:30px;
}

input[type=submit]{
  cursor: pointer; /*changes cursor icon when over button*/
  display: inline-block;
  position: relative; /*declares button style*/
  transition: 0.4s;
  transition-timing-function: ease-in-out; /*declares transition style*/
}

input[type=submit]:after {
  content: '\00bb';
  position: absolute;
  opacity: 0; /*declares button format*/
  top: 0;
  right: 0px; /*positions button*/
  transition: 0.4s;
  transition-timing-function: ease-in-out; /*declares transition style*/
}

input[type=submit]:hover{
  padding-right: 25px;
  font-size: 18px;
  color:#000000;
  font-weight: 500 /*changes button format when hovering*/
}

input[type=submit]:hover:after {
  opacity: 1;
  right: 0;
  color:#000000;
  font-size: 18px;
  font-weight: 500; /*changes button format when hovering*/
}

.eventDesc{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  /* border-style: dashed;
  border-width: 1px; */
  gap:10px;
  opacity: 1; /*declares body format*/
}

.eventDesc>div{
  text-align:left;
  width: 45%;
}

#reminder{
  margin-top:2.5%;
  text-align:left;
  border: none;
  border-radius: 20px;
  background: #FFFFFF;
}

#newEventName{
  margin-top:0;
  margin-bottom: 1%;
}



/*Slider*/
.slidecontainer {
  width: 100%;
}

.slider {
  margin-top:1%;
  margin-bottom:1%;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #494949;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #494949;
  cursor: pointer;
}