{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Poiret+One"> <!-- google fonts-->
    <link rel="shortcut icon" type="image/png" href="{% static 'WebIcon.png' %}">  <!-- displays website favicon -->
    <link rel= "stylesheet" type = "text/css" href= "{% static 'style.css' %}"/>  <!-- calls css file -->
    <div class="navigationBar" id=top>  <!-- calls navigation bar formats -->
        <button class= "navigationBarButton"><span><a class="notActivePage" href = "{% url 'overview:overview' %}">Overview</a>  </span></button>
        <button class= "navigationBarButton"><span><a class="activePage" href = "{% url 'calendarapp:calendarapp' %}">Calendar</a></span></button>
        <button class= "navigationBarButton"><span><a class="notActivePage" href = "{% url 'tasks:tasks' %}">Tasks</a></span></button>  <!-- displays navigation bar buttons -->
    </div>
    <title>Examplify</title>
    <link href='https://fonts.googleapis.com/css?family=Gaegu' rel='stylesheet'>
</head>
<body>
    <div class = "header">
        <div class = "container">
            <h1>Calendar</h1>  <!-- prints title -->
            <!--NEED TO PUT A RADIO/FORM/SOMETHING OF INPUT HERE SO THAT USER CAN CHOOSE WHICH WEEK TO LOOK AT-->
            <button class = "newEvent">
                <span>
                    <a class="popup" href = "{% url 'calendarapp:newEvent' %}">Add a New Event</a>
                </span>
            </button>
        </div>
        <div class = "title-bar" id = "calender-header"></div>
    </div>
    
    
    <table>
        <tr class = "top">
            <td></td>
            <th id = "day-names">Monday 
                <div id="date">10/09</div> <!--THESE NEED TO BE CHANGABLE-->
            </th>
            <th id = "day-names">Tuesday
                <div id="date">10/10</div>
            </th>
            <th id = "day-names">Wednesday
                <div id="date">10/11</div>
            </th>
            <th id = "day-names">Thursday
                <div id="date">10/12</div>
            </th>
            <th id = "day-names">Friday
                <div id="date">10/13</div>
            </th>
            <th id = "day-names">Saturday
                <div id="date">10/14</div>
            </th>
            <th id = "day-names">Sunday
                <div id="date">10/15</div>
            </th>
        </tr>
        <tr class = "6am">
            <th id = "time">6am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "7am">
            <th id = "time">7am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "8am">
            <th id = "time">8am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "9am">
            <th id = "time">9am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "10am">
            <th id = "time">10am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "11am">
            <th id = "time">11am</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "12pm">
            <th id = "time">12pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "1pm">
            <th id = "time">1pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "2pm">
            <th id = "time">2pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "3pm">
            <th id = "time">3pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "4pm">
            <th id = "time">4pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "5pm">
            <th id = "time">5pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "6pm">
            <th id = "time">6pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "7pm">
            <th id = "time">7pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "8pm">
            <th id = "time">8pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "9pm">
            <th id = "time">9pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "10pm">
            <th id = "time">10pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
        <tr class = "11pm">
            <th id = "time">11pm</th>
            <td id="day1">
                <div class="hourevents">

                </div>
            </td>
            <td id="day2">
                <div class="hourevents">

                </div>
            </td>
            <td id="day3">
                <div class="hourevents">

                </div>
            </td>
            <td id="day4">
                <div class="hourevents">

                </div>
            </td>
            <td id="day5">
                <div class="hourevents">

                </div>
            </td>
            <td id="day6">
                <div class="hourevents">

                </div>
            </td>
            <td id="day7">
                <div class="hourevents">

                </div>
            </td>
        </tr>
    </table>

    <div class="copyrightTag">  <!-- calls copyright tag format -->
        <p style="font-size:14px"><b>Copyright © 2023 Examplify Inc. All rights reserved.</b></p>  <!-- prints copyright tag-->
        <p style="font-size:10px"><b>Made with gangsta sauce by Stone and the other guy</b></p>  <!-- prints copyright tag-->
    </div>
    <script src="{% static 'algorithm.js' %}"></script>
</body>
</html>
